.app-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.content {
  flex-grow: 1;
  padding: 20px;
}

body {
  font-family: 'Inter', sans-serif !important;
}

.inter-font {
  font-family: 'Inter', sans-serif !important;
}

.app-header {
  background: #0073fa;
  color: #fff;
  height: 80px;
  display: flex;
  align-items: center;
  padding-left: 40px;
}

.app-header img {
  height: 50px;
}

.app-header span {
  font-size: 30px;
  font-weight: 600;
}